    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <input type="text" id="messageInput" placeholder="Type your message">
        <button id="sendButton">Send</button>
        <a href="../" ><button id="leaveButton">Leave Room</button></a>
        <div id="messages"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript">

        let keyPair;
        let sessionKey;
        let host = false;

        (async function() {

            keyPair = await window.crypto.subtle.generateKey(
            {
                name: "RSA-OAEP",
                modulusLength: 4096,
                publicExponent: new Uint8Array([1, 0, 1]),
                hash: "SHA-256",
            },
            true,
            ["encrypt", "decrypt"],
            )

        })();

        const socket = io();

        socket.on('connect', function() {
            console.log("Connecting to server");
            joinRoom();
        });

        function joinRoom() {
            const date = new Date();
            const joinRoomMsg = {
                name : sessionStorage.getItem("displayName"),
                time : date.toLocaleTimeString('en-US'),
            };
            const jsonJoinedRoomMsg = JSON.stringify(joinRoomMsg);
            socket.emit('joinedRoom', jsonJoinedRoomMsg);
        }

        socket.on('disconnect', function() {
            console.log("Disconnected from server");
            leaveRoom();
        });

        function leaveRoom() {
            var date = new Date();
            const leftRoomMsg = {
                name : sessionStorage.getItem("displayName"),
                time : date.toLocaleTimeString('en-US')
            };
            const jsonLeftRoomMsg = JSON.stringify(leftRoomMsg);
            socket.emit('leftRoom', jsonLeftRoomMsg);
            socket.disconnect();
        }

        const leaveButton = document.getElementById("leaveButton");
        leaveButton.addEventListener('click', leaveRoom);

        async function encryptMessage(msg, key) {
            let ciphertext = await window.crypto.subtle.encrypt(
                {
                    name: "RSA-OAEP"
                },
                key,
                new TextEncoder().encode(msg)
            );
            return btoa(String.fromCharCode(...new Uint8Array(ciphertext))); //encode to base64
        }

        async function decryptMessage(msg, key) {
            let binaryString = atob(msg); //decode from base64
            let bytes = new Uint8Array([...binaryString].map(char => char.charCodeAt(0)));
            let plaintext = await window.crypto.subtle.decrypt(
                {
                    name: "RSA-OAEP"
                },
                key,
                bytes
            );
            let dec = new TextDecoder;
            return dec.decode(plaintext);
            
        }

        async function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            if(messageInput.value === "") return;
            var date = new Date();
            var message = {
                msg : await encryptMessage(messageInput.value, keyPair.publicKey),
                name : sessionStorage.getItem("displayName"),
                time : date.toLocaleTimeString('en-US')
            };
            var jsonMessage = JSON.stringify(message);
            socket.emit('message', jsonMessage);
            messageInput.value = '';
        }

        const sendButton = document.getElementById("sendButton");
        sendButton.addEventListener('click', sendMessage);

        messageInput.addEventListener('keydown', (event) => {
            if(event.key === 'Enter'){
                sendMessage();
            }
        });

        function displayMessage(message){
            var messageDiv = document.getElementById('messages');
            messageDiv.innerHTML += '<p>' + message + '</p>';
        }
        

        //debug purposes
        socket.onAny(event => {
            console.log(`got ${event}`);
        });

        socket.on("joinedRoom", (event) => {
            var jsonJoinedRoom = JSON.parse(event);
            console.log("New person joined room: ", jsonJoinedRoom);
            var joinedRoomString = "" + jsonJoinedRoom.time + " | " + jsonJoinedRoom.name + " has joined the room!";
            displayMessage(joinedRoomString);
        });

        socket.on("nameExists", (event) => {
            alert("Name already exists in room! Please choose another name.");
            window.location.replace("../");
        });

        socket.on("leftRoom", (event) => {
            var jsonLeftRoom = JSON.parse(event);
            console.log("New person left room: ", jsonLeftRoom);
            var leftRoomString = "" + jsonLeftRoom.time + " | " + jsonLeftRoom.name + " has left the room!";
            displayMessage(leftRoomString);
        });

        socket.on("message", async (event) => {
            var jsonMessage = JSON.parse(event);
            console.log("Message from server: ", jsonMessage);
            var msgString = "" + jsonMessage.time + " | " + jsonMessage.name + ": " + await decryptMessage(jsonMessage.msg, keyPair.privateKey);
            displayMessage(msgString);
        });

        </script>
    </body>
    </html>