<html>
<head>
    <style type="text/css">
        body {
            background-color: #afafaf;
        }
        .container {
            background-color: #bada55;
            height:100%;
            display:flex;
            flex-direction:column;
        }
        .header {
            height: 40px;
            background-color: blue;
        }
        .messages {
            background-color: purple;
            flex-grow:1;
        }
        .controls {
            background-color: red;
            height:100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">

        </div>
        <div class="messages">

        </div>
        <div class="controls">

        </div>
    </div>
</body>
</html>